.credit-overlay > a {
  color: white;
}

.credit-overlay > a:visited {
  color: white;
}

.credit-overlay > a:hover {
  color: white;
}


.credit-overlay {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 1rem 1rem;
  padding: 0.5rem 0.5rem;
  background-color: rgba(0.1, 0.1, 0.1, 0.8);
  border-radius: 0.2rem;
  color: white;
}